language: python

python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5-dev"
  - "pypy"
  - "pypy3"
  - "nightly"

install:
  - pip install -U pip
  - pip install -U wheel setuptools
  - pip install .[test]

script:
  - python -m testtools.run discover 
  - rst2html.py --strict README README.html
